<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>短信模板</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
		<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="__PUBLIC__static/js/jquery-3.1.1.min.js"></script>
	</head>


<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<div class="layui-inline">
				<a href="" class="layui-btn layui-btn-small" id="template">
						<i class="layui-icon">&#xe608;</i> 同步短信模板
				</a>
				{if condition="empty($mg) neq true"}{$mg},请重新存入用户/密码{/if}
			</div>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>短信模板</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>模板code</th>
							<th>内容</th>
							<th>模板功能</th>
							<!-- <th>操作</th> -->
						</tr>
					</thead>
					<tbody>
						{volist name="list" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.code}</td>
							<td>{$v.content}</td>
							<td>{$v.type}</td>
							<!-- <td>
								<a href="{:url('note/settem')}?id={$v.id}" class="layui-btn layui-btn-mini">设置</a>
							</td> -->
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
	</div>
</html>
<script type="text/javascript">
	$(function(){
		$('#template').click(function(){
			$.ajax({
				url:"{:url('note/templateinfo')}",
				type:'POST',
				// dataType:'json',
				success:function(data){
					// console.log(data);
					if(data){
						alert(data);
					}else{
						windows.location.reload();
					}
				}
			})			
		})
	})
</script>