<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>办理材料</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
		<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="__PUBLIC__static/js/jquery-1.7.2.min.js"></script>
	</head>
<style>
	input{width: 100%;border:none;}
	.layui-form-label{width:120px;}
	.layui-input-block{margin-left: 150px;}
	.center{text-align:center;margin-top:15px;}
</style>

<body>
	<div class="admin-main">
		<fieldset class="layui-elem-field">
			<legend>办理材料编辑</legend>
			<div class="layui-field-box">
				<form action="{:url('show/updatum')}" class="layui-form"  method="post" enctype="multipart/form-data">
			<input type="hidden" name="id" value="{$list.id}">
				<div class="layui-form-item">
					<label class="layui-form-label">材料标题</label>
					<div class="layui-input-block">
						<input type="text" name="title" lay-verify="" autocomplete="off" placeholder="材料内容" class="layui-input" value="{$list.title}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">示例文件</label>
					<div class="layui-input-block">
						<input type="file" name="files"  autocomplete="off" placeholder="文件上传" class="layui-input" >
						<span>{$list.files}</span>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">空白文件</label>
					<div class="layui-input-block">
						<input type="file" name="nullurl"  autocomplete="off" placeholder="文件上传" class="layui-input" >
						<span>{$list.nullurl}</span>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">材料形式</label>
					<div class="layui-input-block">
						<input type="checkbox" name="shape[]" value="1" title="纸质" {if $list['paper'] eq '1'} checked="true" {/if}>
						<input type="checkbox" name="shape[]" value="2" title="电子" {if $list['electron'] eq '1'} checked="true" {/if}>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">材料ID</label>
					<div class="layui-input-block">
						<input type="text" name="DatumID" lay-verify="title" autocomplete="off" placeholder="材料ID" class="layui-input" value="{$list.DatumID}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">序号</label>
					<div class="layui-input-block">
						<input type="text" name="sort" lay-verify="title" autocomplete="off" placeholder="序号" class="layui-input" value="{$list.sort}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<textarea name="summary" id="" cols="100" rows="10">{$list.summary}</textarea>
					</div>
				</div>

				<div class="layui-form-item center">
					<button class="layui-btn" lay-submit="" lay-filter="demo1" id="but">立即提交</button>
				</div>
			</form>
		</fieldset>
	</div>
</html>
<script>
	layui.use(['form', 'layedit', 'laydate'], function() {
		var form = layui.form(),
			layer = layui.layer,
			layedit = layui.layedit,
			laydate = layui.laydate;
		//自定义验证规则
		  form.verify({
		    title: function(value){
		      if(value.length < 1){
		        return '内容不能为空';
		      }
		    }
		  });
	});
</script>