<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__take2/style.css"/>
		<script type="text/javascript" src="__PUBLIC__take2/jquery1.42.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__take2/js.js" ></script>
	</head>
	<body>
		<div class="controller">
			<div class="header">
				<h1>自助排队取号系统</h1>
				<div class="time">
					<p class="tiem1">{$times.tm|date="H:i",###}</p>
					<p class="tiem2">{$times.tm|date="Y年m月d",###} {$times.week}</p>
				</div>
				<!-- <div class="return">
					<a href="javascript:history.go(-1)"><i></i>后退</a>
					<a href="{:url('index/index')}?devicenum={$times.numbers}" class="index"><i></i>首页</a>
				</div> -->
			</div>
			<div class="cont">
				<div class="yw-end">
					<h2>{$arr.flownum}</h2>
					<p class="yw-name"><span>取号业务</span>{$arr.businessname}</p>
				</div>
				<p class="yw-cg">打印成功，请取走您的号条......<span id="times"></span></p>
			</div>
		</div>
		<script>
		window.onload = function(){
			var index = 10;
			setInterval(function(){
				index--;
				if(index<10){
					index = "0"+index;
				}
				if(index == 0){
					index=0;
					window.location.href="{:url('index/business1')}?devicenum={$times.numbers}";
				}
				document.getElementById('times').innerHTML = index+"秒";
			},1000)
		}			
		</script>
	</body>
</html>
