<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__take2/style.css"/>
		<script type="text/javascript" src="__PUBLIC__take2/jquery1.42.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__take2/js.js" ></script>
		<script type="text/javascript" src="__PUBLIC__take2/iscroll.js" ></script>
	</head>
	<body>
		<div class="controller">
			<div class="header">
				<h1>自助排队取号系统</h1>
				<div class="time">
					<p class="tiem1">{$times.tm|date="H:i",###}</p>
					<p class="tiem2">{$times.tm|date="Y年m月d",###} {$times.week}</p>
				</div>
				<div class="return">
					<a href="javascript:history.go(-1)"><i></i>后退</a>
					<a href="{:url('index/index')}?devicenum={$times.numbers}" class="index"><i></i>首页</a>
				</div>
			</div>
			<div class="cont">
				<div class="clearfix item-qh item-yw">
					<h2>请选择办理事项</h2>
					<div class="itme-list">
						<form action="{:url('index/businesssuccsee_1')}" method="get">
						<input type="hidden" name="b_id" value="{$b_id}">
							<div class="input-row-main">
							{volist name="list" key="k" id="v"}
								<div class="input-row">
						    		<input type="radio" id="s{$k}" name="s_id" value="{$v.id}" {if condition="$k eq '1'"} checked="checked" {/if}>
							    	<label for="s{$k}">
							    		<p>{$v.name}</p>
							    		<div class="checks">{if condition="$k eq '1'"}已选中{else/}选择{/if}</div>
							    	</label>
								</div>
							{/volist}
							</div>
							{if $isnumber.phone == 0 && $isnumber.idcardtake == 0}
							<div class="btns">
								<button type="submit" class="btn">确认取号</button>
								<span><i id="return-num">30秒</i>后返回首页</span>
							</div>
							{else/}
							<div class="btns">
								<a href="{:url('index/datainfo')}?b_id={$b_id}&devicenum={$devicenum}" id="btn" class="btn">确认取号</a>
								<span><i id="return-num">30秒</i>后返回首页</span>
							</div>
							{/if}
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(".itme-list label").click(function(e){
				e.stopPropagation();
				$(this).find('.checks').text("已选中");
				$(this).parent().siblings().find('.checks').text("选择");
			})

			var indexs = 30;
			var nums = setInterval(function(){
				indexs --;
				if (indexs < 10) {
					indexs = "0"+indexs;
				}
				$("#return-num").text(indexs+"秒");
				if(parseInt(indexs) == 0){
					indexs = 30;
					window.location.href="{:url('index/index')}?devicenum={$devicenum}";
				}
			},1000);
		</script>
	</body>
</html>
