<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__take2/style.css"/>
		<script type="text/javascript" src="__PUBLIC__take2/jquery1.42.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__take2/js.js" ></script>
	</head>
	<body>
		<div class="controller">
			<div class="header">
				<h1>自助排队取号系统</h1>
				<div class="time">
					<p class="tiem1">{$times.tm|date="H:i",###}</p>
					<p class="tiem2">{$times.tm|date="Y年m月d",###} {$times.week}</p>
				</div>
				<!-- <div class="return">
					<a href="javascript:history.go(-1)"><i></i>后退</a>
					<a href="{:url('index/index')}?devicenum={$times.numbers}" class="index"><i></i>首页</a>
				</div> -->
			</div>
			<div class="cont">
				<div class="yw-end" style="margin-top: 25px;">
					<h2 style="font-size: 120px">{$arr.flownum}</h2>
					<p class="yw-name" style="margin-top: 10px"><span>取号业务</span>{$arr.businessname}</p>
					<div  style="background:url(__PUBLIC__take/img/icon-gif.gif) no-repeat; width: 352px;height: 255px;margin: 0 auto;margin-top: 50px"></div>
					<div class="yw-cg" style="width: 380px;height: 36px; margin:0 auto;margin-top: 70px;background:url(__PUBLIC__take/img/later.gif) no-repeat;"></div>
				</div>				
			</div>
		</div>
		
	</body>
</html>
