<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>选择事项</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/css.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
	</head>
	<body>
		<div class="main-box">
			<div class="matter-list">
				<a href="">
					<div class="matter-item">
						<div class="tit">
							<p>这是事项标题</p>
							<em></em>
						</div>
						<div class="tel"> 咨询电话：028-00000000</div>
					</div>
				</a>
				<a href="">
					<div class="matter-item">
						<div class="tit">
							<p>这是事项标题</p>
							<em></em>
						</div>
						<div class="tel"> 咨询电话：028-00000000</div>
					</div>
				</a>
				<a href="">
					<div class="matter-item">
						<div class="tit">
							<p>这是事项标题</p>
							<em></em>
						</div>
						<div class="tel"> 咨询电话：028-00000000</div>
					</div>
				</a>
			</div>
		</div>
	</body>
</html>