<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>选择事项</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/css.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
	</head>
	<body>
		<div class="main-box">
			<div class="matter-list">								
					{volist name="list" id="v"}
					<a href="{:url('business/mattershow',['id'=>$v['id']])}">
						<div class="matter-item">
							<div class="tit">
								<p>{$v.tname}</p>
								<em></em>
							</div>
							<div class="tel"> 咨询电话：{$v.telephone}</div>
						</div>
					</a>
					{/volist}
			</div>
		</div>
		<script type="text/javascript">
			var pageindex = 2;
			var pagesize = 12;
			var Isscroll = true;
			window.onload=function(){
				$(window).scroll(function(){  
      				if(!Isscroll) return false;
					 var scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度  
					 var scrollHeight = $(document).height();   //当前页面的总高度  
					 var clientHeight = $(this).height();    //当前可视的页面高度
					 if(scrollHeight <= clientHeight) return false;//如果没有更多数据不执行  
					 if(scrollTop + clientHeight >= scrollHeight-50){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部  
					 $(".matter-list").append("<p style='text-align:center;font-size:14px;padding:5px 0;'>正在加载中...</p>"); 
				     	$.ajax({
								url: '{:url("business/matterlist")}',
								type: 'GET',
								dataType: 'json',
								data: {theme: '{$theme}',deptid:'{$deptid}',pageindex:pageindex,pagesize:pagesize},
								success:function(data){
									$(".matter-list>p").remove();
									for(var i=0;i<=data.length-1; i++){
										var Html = '<a href="{:url("business/mattershow")}?id='+data[i].id+'">'
											Html +=	'<div class="matter-item">'
											Html +=		'<div class="tit">'
											Html +=			'<p>'+data[i].tname+'</p>'
											Html +=			'<em></em>'
											Html +=		'</div>'
											Html +=		'<div class="tel"> 咨询电话：'+data[i].telephone+'</div>'
											Html +=	'</div>'
											Html +='</a>'
											$(".matter-list").append(Html);
									}
									if(data.length<pagesize){
										$(".matter-list").append("<p style='text-align:center;font-size:14px;padding:5px 0;'>没有更多数据</p>");
										Isscroll = false;
										return false;
									}
									
								}
							});
							pageindex++;					
					
					 }else {  
					    //滚动条到达顶部  
					     // alert(4)  
					 //滚动条距离顶部的高度小于等于0 TODO  
					  
					 }  
				}); 
				// scroll.on('pullingUp', function(e){
				// 	$(".wrapper .content").append("<p style='text-align:center;font-size:14px;padding:5px 0;'>正在加载中...</p>");					
				// 	$.ajax({
				// 		url: '{:url("business/matterlist")}',
				// 		type: 'GET',
				// 		dataType: 'json',
				// 		data: {theme: '{$theme}',deptid:'{$deptid}',pageindex:pageindex,pagesize:pagesize},
				// 		success:function(data){
				// 			console.log(data)
				// 			$(".wrapper .content>p").remove();
				// 			for(var i=0;i<=data.length-1; i++){
				// 				var Html = '<a href="{:url("business/mattershow")}?id='+data[i].id+'">'
				// 					Html +=	'<div class="matter-item">'
				// 					Html +=		'<div class="tit">'
				// 					Html +=			'<p>'+data[i].tname+'</p>'
				// 					Html +=			'<em></em>'
				// 					Html +=		'</div>'
				// 					Html +=		'<div class="tel"> 咨询电话：'+data[i].telephone+'</div>'
				// 					Html +=	'</div>'
				// 					Html +='</a>'
				// 					$(".wrapper .content").append(Html);
				// 			}
				// 			scroll.refresh();
				// 			if(data.length<pagesize){
				// 				$(".wrapper .content").append("<p style='text-align:center;font-size:14px;padding:5px 0;'>没有更多数据</p>");
				// 				// $(".wrapper .content>p").text('没有更多数据');
				// 				// return false;
				// 			}
							
				// 		}
				// 	});
				// 	pageindex++;					
				// })
			}
			
		</script>
	</body>
</html>