<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>选择事项</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/swiper-3.4.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/css.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/swiper-3.4.1.jquery.min.js" ></script>
	</head>
	<body>
		<div class="main-box">
			<div class="matter-show">
				<!-- tab开始 -->
				<div class="matter-head">
					<div class="matter-head-left">
						<div class="swiper-wrapper">
							<div class="swiper-slide on">事项概况</div>
							<div class="swiper-slide">受理标准</div>
							<div class="swiper-slide">申请材料</div>
							<div class="swiper-slide">办理流程</div>
							<div class="swiper-slide">中介服务</div>
							<div class="swiper-slide">设定依据</div>
							<div class="swiper-slide">常见问题</div>
						</div>
					</div>
					<div class="matter-head-right" id="prv"></div>
				</div>
				<!-- tab结束 -->
				<!-- 内容开始 -->
				<div class="matter-cont">
					<!-- 事项概况 -->
					<div class="page1">
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">{$list.tid}</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">{$list.hierarchy}</p>
						</div>
						<div class="page1-item">
							<p class="label">事项类型</p>
							<p class="cont">{$list.matter_type}</p>
						</div>
						<div class="page1-item">
							<p class="label">实施机构</p>
							<p class="cont">{$list.enforcement}</p>
						</div>
						<div class="page1-item">
							<p class="label">法定办结时限</p>
							<p class="cont">{$list.limitday}</p>
						</div>
						<div class="page1-item">
							<p class="label">办事者到办事现场次数</p>
							<p class="cont">{$list.number}</p>
						</div>
						<div class="page1-item">
							<p class="label">联办机构</p>
							<p class="cont">{$list.other_section}</p>
						</div>
						<div class="page1-item">
							<p class="label">否进驻中心</p>
							<p class="cont">{$list.intake}</p>
						</div>
						<div class="page1-item">
							<p class="label">是否收费/收费标准</p>
							<p class="cont">{$list.charge}</p>
						</div>
						<div class="page1-item">
							<p class="label">服务对象</p>
							<p class="cont">{$list.service_object}</p>
						</div>
						<div class="page1-item">
							<p class="label">办件类型</p>
							<p class="cont">{$list.handle_type}</p>
						</div>
						<div class="page1-item">
							<p class="label">认证等级需求</p>
							<p class="cont"> {$list.levels}</p>
						</div>
						<div class="page1-item">
							<p class="label">服务内容</p>
							<p class="cont">{$list.content}</p>
						</div>
						<div class="page1-item">
							<p class="label">服务主题分类</p>
							<p class="cont">{$list.theme}</p>
						</div>
						<div class="page1-item">
							<p class="label">网上支付</p>
							<p class="cont">{$list.online_pay}</p>
						</div>
						<div class="page1-item">
							<p class="label">物流快递</p>
							<p class="cont">{$list.express}</p>
						</div>
						<div class="page1-item">
							<p class="label">办理时间</p>
							<p class="cont">{$list.time}</p>
						</div>
						<div class="page1-item">
							<p class="label">咨询电话</p>
							<p class="cont">{$list.telephone}</p>
						</div>
						<div class="page1-item">
							<p class="label">监督电话</p>
							<p class="cont">{$list.sphone}</p>
						</div>
						<div class="page1-item">
							<p class="label">运行系统</p>
							<p class="cont">{$list.operation}</p>
						</div>
						<div class="page1-item">
							<p class="label">办理地点</p>
							<p class="cont">{$list.address}</p>
						</div>
					</div>
					<!-- 事项概况 -->
					<!-- 受理标准 -->
					<div class="page2" style="display: none;">
						<div class="page1-item">
						{volist name="gscsetlist" key="k" id="v"} 
                            <p class="label">{$v.name}</p>
							<p class="cont">{$v.content}</p>
                        {/volist} 
							
						</div>						
					</div>
					<!-- 受理标准 -->
					<!-- 申请材料 -->
					<div class="page-main page3 " style="display: none;">
					{volist name="datlist" id="v"}
						<div class="page2-item">
							<div class="tit">
								<i>{$i}</i>必要材料
							</div>
							<div class="cont">
								<p class="t">{$v.title}</p>
								<div class="c">
									<span class="lab">材料类型:</span>
									<div class="c-cont">
										<span>纸质:{$v.paper}</span>
										<span>电子:{$v.electron}</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">示范文本材料样本:</span>
									<div class="c-cont">
										<span>{$v.dnumber}</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">材料说明:</span>
									<div class="c-cont">
										<span>{$v.summary}</span>
									</div>									
								</div>
							</div>
						</div>
						{/volist}
						<!-- <div class="page2-item">
							<div class="tit">
								<i>02</i>必要材料
							</div>
							<div class="cont">
								<p class="t">无特定材料要求</p>
								<div class="c">
									<span class="lab">材料类型:</span>
									<div class="c-cont">
										<span>纸质:1</span>
										<span>电子:1</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">示范文本材料样本:</span>
									<div class="c-cont">
										<span>1</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">材料说明:</span>
									<div class="c-cont">
										<span>原件1份</span>
									</div>									
								</div>
							</div>
						</div> -->
					</div>
					<!-- 申请材料 -->
					<!-- 办理流程 -->
					<div class="page-main page4" style="display: none;">
						{volist name="flowlimit"  id="v"}
						<div class="page2-item">
							<div class="tit">
								<i>{$i}</i>{$v.flowlimit}
							</div>
							<div class="cont">
								<div class="c">
									<span class="lab">流程时限:</span>
									<div class="c-cont">
										<span>{$v.lctime}个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">预警天数:</span>
									<div class="c-cont">
										<span>{$v.yjtime}个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">转外时间:</span>
									<div class="c-cont">
										<span>{$v.wztime}个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">备　　注:</span>
									<div class="c-cont">
										<span>{$v.remark}</span>
									</div>									
								</div>
							</div>
						</div>
						{/volist}
					</div>
					<!-- 办理流程 -->
					<!-- 中介服务 -->
					<div class="page5" style="display: none;">
						<p>无中介服务</p>
					</div>
					<!-- 中介服务 -->
					<!-- 法定依据 -->
					<div class="page-main page6 " style="display: none;">
					{volist name="warlist" key="k" id="v"}
						<div class="page2-item">
							<div class="cont">
								<p class="t">{$v.title}</p>
								<div class="c">
									<span class="lab">种类:</span>
									<div class="c-cont">
										<span>{$v.type}</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">文号:</span>
									<div class="c-cont">
										<span>{$v.proof}</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">条款:</span>
									<div class="c-cont">
										<span>{$v.terms}</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">内容:</span>
									<div class="c-cont">
										<span>{$v.content}</span>
									</div>									
								</div>
							</div>
						</div>
						{/volist}
						
					</div>
					<!-- 法定依据 -->
					<!-- 常见问题 -->
					<div class="page-main page7" style="display: none;">
						<div class="page2-item">
						<p>无问题</p>
							<!-- <p class="w">
								<span class="w-t">问</span>
								<span class="w-c">是否收费?</span>
							</p>
							<p class="w">
								<span class="w-t">答</span>
								<span class="w-c">无</span>
							</p> -->
						</div>
						
					</div>
					<!-- 常见问题 -->
				</div>
				<!-- 内容结束 -->
			</div>
		</div>
		<script type="text/javascript">
			window.onload=function(){
				var mySwiper1 = new Swiper('.matter-head-left',{
					  freeMode : true,
					  slidesPerView : 'auto',
				});
				document.getElementById("prv").addEventListener('touchstart', function(e){
					e.preventDefault();
					mySwiper1.slideNext();
				}, false);
				$(".swiper-slide").click(function(event) {
					/* Act on the event */
					event.stopPropagation();
					var Index = parseInt($(this).index() + 1 );
					$(".page"+Index+"").show().siblings().hide();
					$(this).addClass("on").siblings().removeClass('on');
				});
			}			
		</script>
	</body>
</html>