<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>选择事项</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/swiper-3.4.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/css.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/swiper-3.4.1.jquery.min.js" ></script>
	</head>
	<body>
		<div class="main-box">
			<div class="matter-show">
				<!-- tab开始 -->
				<div class="matter-head">
					<div class="matter-head-left">
						<div class="swiper-wrapper">
							<div class="swiper-slide on">受理标准</div>
							<div class="swiper-slide">申请材料</div>
							<div class="swiper-slide">办理流程</div>
							<div class="swiper-slide">中介服务</div>
							<div class="swiper-slide">设定依据</div>
							<div class="swiper-slide">常见问题</div>
						</div>
					</div>
					<div class="matter-head-right" id="prv"></div>
				</div>
				<!-- tab结束 -->
				<!-- 内容开始 -->
				<div class="matter-cont">
					<!-- 受理标准 -->
					<div class="page1">
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">行使层级</p>
							<p class="cont">A00000</p>
						</div>
						<div class="page1-item">
							<p class="label">事项编码</p>
							<p class="cont">A00000</p>
						</div>
					</div>
					<!-- 受理标准 -->
					<!-- 申请材料 -->
					<div class="page-main page2 " style="display: none;">
						<div class="page2-item">
							<div class="tit">
								<i>01</i>必要材料
							</div>
							<div class="cont">
								<p class="t">无特定材料要求</p>
								<div class="c">
									<span class="lab">材料类型:</span>
									<div class="c-cont">
										<span>纸质:1</span>
										<span>电子:1</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">示范文本材料样本:</span>
									<div class="c-cont">
										<span>1</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">材料说明:</span>
									<div class="c-cont">
										<span>原件1份</span>
									</div>									
								</div>
							</div>
						</div>
						<div class="page2-item">
							<div class="tit">
								<i>02</i>必要材料
							</div>
							<div class="cont">
								<p class="t">无特定材料要求</p>
								<div class="c">
									<span class="lab">材料类型:</span>
									<div class="c-cont">
										<span>纸质:1</span>
										<span>电子:1</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">示范文本材料样本:</span>
									<div class="c-cont">
										<span>1</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">材料说明:</span>
									<div class="c-cont">
										<span>原件1份</span>
									</div>									
								</div>
							</div>
						</div>
					</div>
					<!-- 申请材料 -->
					<!-- 办理流程 -->
					<div class="page-main page3" style="display: none;">
						<div class="page2-item">
							<div class="tit">
								<i>01</i>申请受理
							</div>
							<div class="cont">
								<div class="c">
									<span class="lab">流程时限:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">预警天数:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">转外时间:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">备　　注:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
							</div>
						</div>
						<div class="page2-item">
							<div class="tit">
								<i>02</i>审核
							</div>
							<div class="cont">
								<div class="c">
									<span class="lab">流程时限:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">预警天数:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">转外时间:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">备　　注:</span>
									<div class="c-cont">
										<span>0个工作日</span>
									</div>									
								</div>
							</div>
						</div>
					</div>
					<!-- 办理流程 -->
					<!-- 中介服务 -->
					<div class="page4" style="display: none;">
						<p>无中介服务</p>
					</div>
					<!-- 中介服务 -->
					<!-- 法定依据 -->
					<div class="page-main page5 " style="display: none;">
						<div class="page2-item">
							<div class="cont">
								<p class="t">中华人民共和国民办教育促进法</p>
								<div class="c">
									<span class="lab">种类:</span>
									<div class="c-cont">
										<span>法律</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">文号:</span>
									<div class="c-cont">
										<span>主席令 第五十五号</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">条款:</span>
									<div class="c-cont">
										<span>第十五条</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">内容:</span>
									<div class="c-cont">
										<span>申请正式设立民办学校的，举办者应当向审批机关提交下列材料： （一）筹设批准书； （二）筹设情况报告； （三）学校章程、首届学校理事会、董事会或者其他决策机构组成人员名单； （四）学校资产的有效证明文件； （五）校长、教师、财会人员的资格证明文件。</span>
									</div>									
								</div>
							</div>
						</div>
						<div class="page2-item">
							<div class="cont">
								<p class="t">中华人民共和国民办教育促进法</p>
								<div class="c">
									<span class="lab">种类:</span>
									<div class="c-cont">
										<span>法律</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">文号:</span>
									<div class="c-cont">
										<span>主席令 第五十五号</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">条款:</span>
									<div class="c-cont">
										<span>第十五条</span>
									</div>									
								</div>
								<div class="c">
									<span class="lab">内容:</span>
									<div class="c-cont">
										<span>申请正式设立民办学校的</span>
									</div>									
								</div>
							</div>
						</div>
					</div>
					<!-- 法定依据 -->
					<!-- 常见问题 -->
					<div class="page-main page6" style="display: none;">
						<div class="page2-item">
							<p class="w">
								<span class="w-t">问</span>
								<span class="w-c">是否收费?</span>
							</p>
							<p class="w">
								<span class="w-t">答</span>
								<span class="w-c">无</span>
							</p>
						</div>
						<div class="page2-item">
							<p class="w">
								<span class="w-t">问</span>
								<span class="w-c">是否收费?</span>
							</p>
							<p class="w">
								<span class="w-t">答</span>
								<span class="w-c">是否收费?</span>
							</p>
						</div>
					</div>
					<!-- 常见问题 -->
				</div>
				<!-- 内容结束 -->
			</div>
		</div>
		<script type="text/javascript">
			window.onload=function(){
				var mySwiper1 = new Swiper('.matter-head-left',{
					  freeMode : true,
					  slidesPerView : 'auto',
				});
				document.getElementById("prv").addEventListener('touchstart', function(e){
					e.preventDefault();
					mySwiper1.slideNext();
				}, false);
				$(".swiper-slide").click(function(event) {
					/* Act on the event */
					event.stopPropagation();
					var Index = parseInt($(this).index() + 1 );
					$(".page"+Index+"").show().siblings().hide();
					$(this).addClass("on").siblings().removeClass('on');
				});
			}			
		</script>
	</body>
</html>