<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>我的投诉</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/css.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
		
	</head>
	<body>
		<div class="main-box">
			<div class="consultation">
				<div class="consultation-top">
					<a href="{:url('complain/index')}">提交投诉</a>
					<a href="javascript:;" class="on">我的投诉</a>
				</div>

				<div class="consultation-cont scroll" style="bottom: 0;">
				{volist name="list" id="v"}
					<div class="consultation-itme">
						<div class="item-tit">
							<div class="photo">
								<img src="{$people.icon}">
							</div>
							<div class="w-name">{$people.nickname}</div>
							<div class="w-time">{$v.uptime}</div>
						</div>
						<div class="item-cont">
							{$v.content}
						</div>
						{if empty($v['recontent']) neq true}
						<div class="item-hf"><p>客服：{$v.recontent}</p></div>
						{/if}
					</div>
				{/volist}
				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__weixin/js/myscroll.js" ></script>

	</body>
</html>