<!DOCTYPE html>
<html class="index-cont">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable2/css/style_btn.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable2/css/style.css">	
	<title></title>
	<script type="text/javascript" src="__PUBLIC__autotable2/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="content_iframe">
		<div class="Speed_title">
			<div class="t">
				<p>应交材料</p>
			</div>
		</div>
		<div class="zn_cont">
			<table class="table_list" cellpadding="0" cellspacing="0">
				<tr>
					<th>材料名称</th>
					<th>材料形式</th>
					<th>材料详细要求</th>
					<th>必要性描述</th>
					<th>备注</th>
				</tr>
				{volist name="list" id="v"}
				<tr>
					<td>{$v.title}</td>
					<td>{$v.material_form}</td>
					<td>{$v.material_request}</td>
					<td>{$v.describe}</td>
					<td>{$v.summary}</td>
				</tr>
				{/volist}
		
			</table>
		</div>
		<div class="pager page">
			<a href="{:url('work/index')}" class="home"></a>
			<a href="javascript:window.history.go(-1);" class="return"></a>
		</div>
	</div>
</body>
</html>