<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>排号机</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
	</head>


<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">

			<div class="layui-inline">
			<form class="layui-form" action="{:url('orderrecord/index')}" method="post">				
			    <div class="layui-inline">
			    	<label class="layui-form-label">姓名：</label>
			    	<div class="layui-input-inline">
			        	<input type="text" name="name" lay-verify="title" autocomplete="off" class="layui-input" placeholder="姓名" {if condition="empty($name) neq true"} value="{$name}"{/if}>
			      	</div>
			    </div>
			    <div class="layui-inline">			    		
			    	<label class="layui-form-label">业务</label>
      				<div class="layui-input-inline">
				    	<select name="business" lay-verify="required" lay-search="">
		         			 <option value="">全部</option>
		         			 {volist name="bus" id="v"}
		         			 <option value="{$v.id}" {if condition="$bid eq $v['id']"} selected="true" {/if}>{$v.name}</option>
		         			 {/volist}
		         			 <option value="">全部</option>
	         			</select>
         			</div>	         		
			    </div>
			    <div class="layui-inline">
			    	<button class="layui-btn">搜索</button>
			    </div>
			</form>
			</div>
		</blockquote>

		<fieldset class="layui-elem-field">
			<legend>排号机管理</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>预约人</th>
							<th>预约业务</th>
							<th>预约编号</th>
							<th>申请预约时间</th>
							<th>预约开始时间</th>
							<th>预约结束时间</th>
							<th>取号时间</th>
							<th>取消时间</th>
							<th>状态</th>
						</tr>
					</thead>
					<tbody>
						{volist name="list" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.peopleid}</td>
							<td>{$v.businessid}</td>
							<td>{$v.number}</td>
							<td>{$v.uptime}</td>
							<td>{$v.starttime}</td>
							<td>{$v.endtime}</td>
							<td>{$v.taketime}</td>
							<td>{$v.canceltime}</td>
							<td>{$v.status}</td>
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
		{$page}
	</div>
<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__static/js/jquery-3.1.1.min.js"></script>
<script>

	layui.use(['form', 'layedit', 'laydate'], function() {
		var form = layui.form(),
			layer = layui.layer,
			layedit = layui.layedit,
			laydate = layui.laydate;
	});
</script>

	</body>
</html>