<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>角色列表</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
	</head>


<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<a href="{:url('auth/addposition')}" class="layui-btn layui-btn-small" id="add" >
					<i class="layui-icon">&#xe608;</i> 添加
				</a>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>角色列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>角色名称</th>
							{if condition="($username eq 'superadmin') or ($username eq 'admin')"}
							<th >操作</th>
							{/if}
						</tr>
					</thead>
					<tbody>
						{volist name="list" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.po_name}</td>
							<td>
							{if condition="($username eq 'superadmin') or ($username eq 'admin')"}
								<a href="{:url('auth/upposition')}?id={$v.po_id}" class="layui-btn layui-btn-mini">编辑</a>
								
								<a href="{:url('auth/dlposition')}?id={$v.po_id}" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
							{/if}
							</td>
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
		{$page}
	</div>
</html>