<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>办件量</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
	</head>
		<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>

<style>
	.label1{width: 180px;color:red;}	
</style>
<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<div class="layui-inline">
				<form class="layui-form" action="{:url('Queue/dealnumber')}">
				    <div class="layui-inline">
				    	<label class="layui-form-label">姓名</label>
				    	<div class="layui-input-inline">
				        	<input type="text" name="name" lay-verify="title" autocomplete="off" class="layui-input" {if condition="empty($name) neq true"} value="{$name}"{/if}>
				      	</div>
				    </div>
				    <div class="layui-inline">
				    	<label class="layui-form-label">工号</label>
				    	<div class="layui-input-inline">
				        	<input type="text" name="number" lay-verify="title" autocomplete="off" class="layui-input" {if condition="empty($number) neq true"} value="{$number}"{/if}>
				      	</div>
				    </div>
				    <div class="layui-inline">
				    	<label class="layui-form-label">时间：</label>
				    	<div class="layui-input-inline">
				        <select name="type" lay-verify="required" lay-search="" >
				          <option value="">请选择</option>
				          <option value="1" {if condition="$type eq 1"} selected="true" {/if}>当天</option>
				          <option value="2" {if condition="$type eq 2"} selected="true" {/if}>一周</option>
				          <option value="3" {if condition="$type eq 3"} selected="true" {/if}>一月</option>
				          <option value="4" {if condition="$type eq 4"} selected="true" {/if}>当年</option>
				          <option value="5">全部</option>
				        </select>
				      </div>
				    </div>		
				    <div class="layui-inline">
				    	<button class="layui-btn">搜索</button>
				    </div>
				</form>

			</div>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>办理时长</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>姓名</th>
							<th>工号</th>
							<th>办件量</th>
						</tr>
					</thead>
					<tbody>
						{volist name="workman" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.name}</td>
							<td>{$v.number}</td>
							<td>{$v.count}</td>
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
		{$page}
	</div>
</body>
	<script>
	layui.use(['form', 'layedit', 'laydate'], function() {
		var form = layui.form(),
			layer = layui.layer,
			layedit = layui.layedit,
			laydate = layui.laydate;
	});
</script>
</html>