<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>时段管理</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
	</head>


<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<div class="layui-inline">
			<a href="{:url('Intervaltime/addintervaltime')}" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 添加
			</a>
			</div>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>时段列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>开始时间</th>
							<th>结束时间</th>
							<th>时段最大人数</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="list" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.starttime}</td>
							<td>{$v.endtime}</td>
							<td>{$v.maxpeopledefault}</td>
							<td>
								<a href="{:url('Intervaltime/upintervaltime')}?id={$v.id}" class="layui-btn layui-btn-mini">编辑</a>
								<a href="{:url('Intervaltime/dltime')}?id={$v.id}" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
							</td>
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
	</div>
	<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
	<script>
		layui.use(['form', 'layedit', 'laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				layedit = layui.layedit,
				laydate = layui.laydate;
		});
	</script>
	</body>
</html>