<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable/css/style_btn.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable/css/style.css">	
	<title></title>
	<script type="text/javascript" src="__PUBLIC__autotable/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="content_iframe">
		<div class="notice_show introduction">
			<div class="introduction_tit">
			</div>
			<div class="cont-text">
				{$list}
			</div>
		</div>
	</div>
</body>
</html>