<!DOCTYPE html>
<html class="index-cont">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable2/css/style_btn.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable2/css/style.css">	
	<title></title>
	<script type="text/javascript" src="__PUBLIC__autotable2/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__autotable2/js/bscroll.min.js"></script>
</head>
<body>
	<div class="content_iframe">
		<div class="notice_show introduction wrapper" style="overflow: hidden;">
			<div class="content">
				<div class="introduction_tit">
				</div>
				<div class="cont-text">
					{$list}
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var dom = document.querySelector(".wrapper");
		var so = new BScroll(dom);
	</script>
</body>
</html>