<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>我的预约</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
	</head>
	<body>
	<a href="javascript:history.go(-1)" class="prv-main">返回</a>
		<div class="controller">
			<div class="banner-img">
				<img src="__PUBLIC__weixin/images/banner.png"/>
			</div>
			<div class="controller-box">
				<h1>我的预约</h1>
				<div class="yd-list">
				{if condition="empty($sql) eq false"}
					<div class="weui-cells">
					{volist name="sql" id="v"}					
						<div class="weui-cell">
							<div class="weui-cell__bd color-defut">
								<a href="{:url('wapmy/show')}?id={$v.id}">
									<p class="color-defut">{$v.busName}</p>
									<p class="yd-list-dec">预约编号：{$v.number}　状态：{$v.type}</p>
								</a>								
							</div>
						</div>
					{/volist}
					</div>
				{else}
					<div class="weui-loadmore weui-loadmore_line">
				        <span class="weui-loadmore__tips">暂无预约</span>
				    </div>
				 {/if}
				</div>	
			</div>
		</div>
	</body>
</html>
