<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>预约排号</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/lib/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__weixin/css/style.css"/>
		<script type="text/javascript" src="__PUBLIC__weixin/js/lib/zepto.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__weixin/js/index.js" ></script>
	</head>
	<body>
		<div class="controller">
			<div class="index-cont">
				<div class="banner-img">
					<img src="__PUBLIC__weixin/images/banner.png"/>
				</div>
				<div class="index-box">
					<a href="{:url('wapmy/index')}"><img src="__PUBLIC__weixin/images/nav_1.png"/></a>
					<a href="{:url('wapbespoke/index')}"><img src="__PUBLIC__weixin/images/nav_2.png"/></a>
					<a href="{:url('wapline/index')}"><img src="__PUBLIC__weixin/images/nav_3.png"/></a>
				</div>
			</div>
		</div>
	</body>
</html>
