<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>公告</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
		<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="__PUBLIC__static/js/jquery-3.1.1.min.js"></script>
	</head>


<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<div class="layui-inline">
				<a href="{:url('news/addnotice')}" class="layui-btn layui-btn-small" id="add">
						<i class="layui-icon">&#xe608;</i> 添加
				</a>
			</div>
			<div class="layui-inline">
			<form class="layui-form" action="{:url('news/notice')}" method="post">
				<div class="layui-inline">
			      <label class="layui-form-label">开始时间</label>
			      <div class="layui-input-inline">
			        <input type="text" name="starttime" id="date" lay-verify="date"  autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})" {if condition="empty($starttime) neq true"} value="{$starttime}"{/if}>
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label">结束时间</label>
			      <div class="layui-input-inline">
			        <input type="text" name="endtime" id="date" lay-verify="date"  autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})" {if condition="empty($endtime) neq true"} value="{$endtime}"{/if}>
			      </div>
			    </div>
			    <div class="layui-inline">
			    	<label class="layui-form-label">标题</label>
			    	<div class="layui-input-inline">
			        	<input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input" {if condition="empty($title) neq true"} value="{$title}"{/if}>
			      	</div>
			    </div>
			    <div class="layui-inline">			    		
			    	<label class="layui-form-label">中心/部门</label>
      				<div class="layui-input-inline">
				    	<select name="level" lay-verify="required" lay-search="">
		         			 <option value="">全部</option>
		         			 <option value="0" {if condition="$level eq '0'"} selected="true" {/if}>中心</option>
		         			 <option value="1" {if condition="$level eq '1'"} selected="true" {/if}>部门</option>
		         			 <option value="">全部</option>
	         			</select>
         			</div>	         		
			    </div>
			    <div class="layui-inline">
			    	<button class="layui-btn">搜索</button>
			    </div>
			</form>
			</div>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>公告列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>标题</th>
							<th>创建时间</th>
							<th>开始时间</th>
							<th>结束时间</th>
							<th>中心/部门</th>
							<th>部门</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="list" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.title}</td>
							<td>{$v.createtime}</td>
							<td>{$v.starttime}</td>
							<td>{$v.endtime}</td>
							<td>{$v.level}</td>
							<td>{$v.section}</td>
							<td>
								<button type="button" class="layui-btn layui-btn-mini top" value="{$v.id}">{if condition="$v['top'] eq 1"} 已置顶{else /}置顶显示{/if}</button>
								<a href="{:url('news/shownotice')}?id={$v.id}" class="layui-btn layui-btn-mini">查看</a>
								<a href="{:url('news/upnotice')}?id={$v.id}" class="layui-btn layui-btn-mini">编辑</a>
								<a href="{:url('news/dlnotice')}?id={$v.id}" data-id="1" data-opt="del" class="layui-btn layui-btn-danger layui-btn-mini">删除</a>
							</td>
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
		{$page}
	</div>
	<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
	<script>
		layui.use(['form', 'layedit', 'laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				layedit = layui.layedit,
				laydate = layui.laydate;
		});
	</script>
	</body>
</html>
<script type="text/javascript">
	$(function(){
		$('.top').click(function(){
			var data={id:$(this).val()};
			var that = $(this);
			// console.log(data);
			$.ajax({
				type:'post',
				data:data,
				url:"{:url('news/noticetop')}",
				success:function(data){
					if(data==1){
						that.text('已置顶');
					}else{
						that.text('置顶显示');
					}
					window.location.reload(); 
				}
			})
		})
	})
</script>