<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
	</head>


<body>

	<div style="width:70%;margin-left:15%">
		<div align="center" style="font-size:18px">
			<p><b>{$list.title}</b></p>
		</div>
		<div style="float:right">
			<p>{$list.createtime}</p>
		</div>
		<div style="margin-top:20px">
			<p>{$list.content}</p>
		</div>
		
	</div>

</html>