<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__integration/css/sytle.css">
	<script type="text/javascript" src="__PUBLIC__integration/js/jquery-1.10.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__integration/js/slid.js"></script>
</head>
<body class="box">
	<div class="heater">
		<h1 class="lf">自助服务系统</h1>
		<div class="lr times">
			<p class="time1">2017年12月17日 星期日</p>
			<p class="time2">16:48</p>
		</div>
	</div>
	<div class="cont">
		<div class="cont-title">
			<div class="lf tz">
				<i>通知公告:</i>
				<div class="tz_list">
					<div class="bd">
						<ul>
							<li><a href="">政务政务中心关于自助服务系统上线上线上线</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="lf title_btn btn_1">
				<a href="">服务咨询</a>
			</div>
			<div class="lf title_btn btn_2">
				<a href="">办事指南</a>
			</div>
			<div class="lf title_btn btn_3">
				<a href="centerweb.php?url=http://www.sczwfw.gov.cn/power/index.aspx/">政务公开</a>
			</div>
			<div class="lf title_btn btn_4">
				<a href="">打印复印</a>
			</div>
		</div>
		<div class="cont-box">
			<div class="cont-box_item">
				<div class="lf item item_1">
					<div class="tit">
						政务服务
					</div>
					<ul class="clearfix">
						<li>
							<a href="{:url('work/index1')}">
								<img src="__PUBLIC__integration/img/icons/icon-banshi.png">
								<p>我要办事</p>
							</a>
						</li>
						<li>
							<a href="{:url('make/index')}">
								<img src="__PUBLIC__integration/img/icons/icon-yuyue.png">
								<p>我要预约</p>
							</a>
						</li>
						<li>
							<a href="{:url('progress/index')}">
								<img src="__PUBLIC__integration/img/icons/icon-banjian.png">
								<p>我要办件</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://www.cdhrss.gov.cn/index.action">
								<img src="__PUBLIC__integration/img/icons/icon-shebao.png">
								<p>社保查询</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://www.cdzfgjj.gov.cn/">
								<img src="__PUBLIC__integration/img/icons/icon-gongjijin.png">
								<p>公积金查询</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://sqwq.zw.cdfgj.gov.cn/outcitizen/web/view">
								<img src="__PUBLIC__integration/img/icons/icon-zhufang.png">
								<p>住房信息</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="lf item item_2">
					<div class="tit">
						生活服务
					</div>
					<ul class="clearfix">
						<li>
							<a href="centerweb.php?url=http://www.jkscw.com.cn/">
								<img src="__PUBLIC__integration/img/icons/icon-yiliao.png">
								<p>医疗挂号</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://www.95598.cn/person/index.shtml">
								<img src="__PUBLIC__integration/img/icons/icon-jiaofei.png">
								<p>生活缴费</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://www.12306.cn/mormhweb/">
								<img src="__PUBLIC__integration/img/icons/icon-jiaotong.png">
								<p>交通出行</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=https://sc.122.gov.cn/">
								<img src="__PUBLIC__integration/img/icons/icon-weizhang.png">
								<p>违章处理</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="lf item item_3">
					<div class="tit">
						政民互动
					</div>
					<ul class="clearfix">
						<li>
							<a href="centerweb.php?url=http://202.61.88.205/DefaultInfo/Index">
								<img src="__PUBLIC__integration/img/icons/icon-zixun.png">
								<p>我要咨询</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://sichuan.12388.gov.cn/">
								<img src="__PUBLIC__integration/img/icons/icon-tousu.png">
								<p>我要投诉</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://scmail.sc.gov.cn:7003/scweb/login?type=3">
								<img src="__PUBLIC__integration/img/icons/icn-jianyi.png">
								<p>我要建议</p>
							</a>
						</li>
						<li>
							<a href="centerweb.php?url=http://www.jkscw.com.cn/">
								<img src="__PUBLIC__integration/img/icons/icon-pingjai.png">
								<p>我要评价</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer ">
			<div class="clearfix footer-cont">
				<div class="lf">服务电话：028-000000000</div>
				<div class="lr">技术支持：四川信宏翔科技有限公司</div>
			</div>
		</div>
	</div>

</body>
</html>