<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>智慧政务服务平台</p>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>后台管理</legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>提示</legend>
						<div class="layui-field-box">
							<p>为了使您浏览正常请使用IE8以上的浏览器</p>
						</div>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</body>

</html>