<html>
	<head>
		<meta charset="UTF-8">
		<title>政务中心</title>
		<!--<script type="text/javascript" src="__PUBLIC__home/js/lib/jquery-3.1.1.min.js" ></script>-->
		<script type="text/javascript" src="__PUBLIC__home/js/lib/jquery1.42.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__home/js/all.js" ></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__home/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__home/css/css.css"/>
		<script type="text/javascript" src="__PUBLIC__home/js/lib/iscroll.js" ></script>
	</head>
	<body onload="loaded()" oncontextmenu=self.event.returnValue=false>
		<div class="cont-box bszn">
			<div class="bszn-box selects">
				<div class="bazs-bm selectend">
					<a href="{:url('index/index')}" class="main-last"><i></i>返回上首页</a>
						<div class="selectend-box">
							<div id="wrapper">
							<div id="scroller" >	
							{volist name="list" key="k" id="v"}								<div class="se-end">
									<h4>查询结果{$k}</h4>
									<p><span class="bt1">流水号：</span><span class="bt2">{$v.Code}</span></p>
									<p><span class="bt1">事项名称：</span><span class="bt2">{$v.Name}</span></p>
									<p><span class="bt1">受理单位：</span><span class="bt2">{$v.OrganNameCreator}</span></p>
									<p><span class="bt1">申请人：</span><span class="bt2">{$v.PubUserNameLinkman}</span></p>
									<p><span class="bt1">申请人单位：</span><span class="bt2">{$v.PubUserNameApplicant}</span></p>
									<p>
									<span class="bt1">状态：</span><span class="bt2">
									{if condition="$v['FlowStatus'] eq '失败'"}<span class="danger">{$v.FlowStatus}</span>{else}<span class="sucss">{$v.FlowStatus}</span>{/if}</span></p>
								</div>
							{/volist}	
							</div>
							</div>
						</div>
						
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myScroll;
		
			function loaded () {
				myScroll = new IScroll('#wrapper', {
					scrollbars: true,
					mouseWheel: true,
					interactiveScrollbars: true,
					shrinkScrollbars: 'scale',
					fadeScrollbars: true
				});
			}		
		</script>
	</body>
</html>
