<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__integration/css/sytle.css">
	<script type="text/javascript" src="__PUBLIC__integration/js/jquery-1.10.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__integration/js/slid.js"></script>
	<script type="text/javascript" src="__PUBLIC__integration/layer/layer.js"></script>
</head>
<body class="box">
	<div class="heater">
		<h1 class="lf">自助服务系统</h1>
		<div class="lr">
			<a href="javascript:window.history.back();" class="return">返回</a>
			<a href="{:url('index/index')}" class="home">首页</a>
		</div>
	</div>
	<div class="cont cont_box">
		<div class="Navigation">
			<span class="label">当前位置：</span>
			<a href="">我要办事</a><span> > </span>
			<a href="">选择事项</a><span> > </span>
			<a href="">事项详情</a><span> > </span>
			<a href="">身份验证</a><span> > </span>
			<a href="">个人承诺</a><span> > </span>
			<a href="">上传材料</a>
		</div>
		<div class="cont_container file">
			<div class="file-cont">
				<h1>您正在办理<span>{$list.tname}</span></h1>
				{volist name="datlist" id="v" key="k"}
				{notempty name="$v['nullurl']"}
				<div class="file-itme">
					<div class="ic">{$k}</div>
					<div class="file-itme_c">
						<div class="tit">
							<i></i>
							<p>{$v.title}</p>
							{if empty($v['picture']) == false}
								<span class="succ">已上传</span>
							{else/}
								<span>未上传</span>
							{/if}
							
							<em></em>
							{if  empty($v['picture']) == true}
							<button {if $k==1} style="display: none;" {/if}>开始上传</button>
							{else/}
							<button {if $k==1} style="display: none;" {/if}class="new">继续上传</button>
							{/if}
						</div>
						<ul class="clearfix" {if $k>1}style="display: none;"{/if}>
							{volist name="$v['picture']" id="vv"}
							<li>
								<img src="__PUBLIC__{$vv.file}" data-id="{$vv.id}" class="delect{$vv.id}">
							</li>
							{/volist}
							<!-- <li>
								<img src="http://www.w3school.com.cn/i/eg_tulip.jpg">
							</li> -->
							<li class="addfile">
								<a href="{:url('work/fileup')}?fdatumid={$fdatumid}&datumid={$v.id}&userid={$userid}&matterid={$matterid}"></a>
							</li>
						</ul>
					</div>
				</div>
				{/notempty}
				{/volist}
			</div>
			<!-- 确认提交 -->
			<div class="file-cont_success">
				<a href="javascript:;"></a>
				<p>正在处理第<span id="f">1</span>/{$count}个资料...</p>
			</div>
		</div>
	</div>
	<!-- 预览资料 -->
	<div class="preview-file" style="display: none;">
		<div class="preview-cont">
			<div class="preview-cont-img">
				<img src="">
			</div>
			<div class="preview-cont-btn">
				<a href="javascript:;" id="delimg" style="background: #fe5155">删除图片</a>
				<a href="javascript:;" id="off" style="background: #0089fe">关闭窗口</a>
			</div>
		</div>
	</div>
	<!-- 预览资料 -->
	<script type="text/javascript">
		var ImgId = null;//删除图片id
		$(document).ready(function(){
			// 点击收起
			$(".file-itme_c .tit em").click(function(e){
				e.stopPropagation();
				$(this).siblings("button").show();
				$(this).parent().siblings("ul").slideUp();
			})
			// 点击上传
			$(".file-itme_c .tit button").click(function(e){
				e.stopPropagation();
				$(this).hide();
				$(this).parent().siblings("ul").slideDown();

				$(this).parents(".file-itme").siblings().find('ul').slideUp();
				$(this).parents(".file-itme").siblings().find('button').show();
				// 正在处理资料
				var index = $(this).parents(".file-itme").index();
				$("#f").text(index);
			})
			// 删除图片
			$("#delimg").click(function(e) {
				e.stopPropagation();
				$.ajax({
					url: '{:url("work/dlfile")}',
					type: 'GET',
					data: {id: ImgId},
					success:function(data){
						if(data == 1){
							$(".delect"+ImgId+"").parent('li').remove();
							$(".preview-file").hide();
							ImgId = null;
						}
					},
					error:function(){
						alert("500");
					}
				})
				
				
			});
			// 关闭其他下拉
			// $(".file-itme_c .tit").click(function(e){
			// 	e.stopPropagation();
			// 	$(this).find("button").hide();
			// 	$(this).siblings("ul").slideDown();
			// 	$(this).parents(".file-itme").siblings().find('ul').slideUp();
			// 	$(this).parents(".file-itme").siblings().find('button').show();
			// })

			// 预览图片
			
			$(".file-itme_c li img").click(function(e){
				e.stopPropagation();
				var src = $(this).attr('src');
				ImgId = $(this).attr('data-id');
				$(".preview-file").show();
				$(".preview-file").find('img').attr("src",src);
			})
			// 关闭预览
			$("#off").click(function(e){
				e.stopPropagation();
				$(".preview-file").hide();
				ImgId = null;
			})
			// 确认提交
			$(".file-cont_success a").click(function(e){
				var typetext = document.getElementsByTagName('button');
				for (var i = 0; i <= typetext.length-1; i++) {
					if(typetext[i].innerText == "开始上传"){
						layer.msg('资料不完整');
						return false;
					}
				}
				
				$.ajax({
					url: '{:url("work/submitfile")}',
					type: 'GET',
					data: {fdatumid: '{$fdatumid}'},
					success:function(data){
						if(data == 1){
							window.location.href="{:url('work/pickup')}?userid={$userid}&fdatumid={$fdatumid}";
						}
					},
					error:function(){
						alert("500");
					}
				})
				
			})
		})
	</script>
</body>
</html>