<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__integration/css/sytle.css">
	<script type="text/javascript" src="__PUBLIC__integration/js/jquery-1.10.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__integration/js/slid.js"></script>
</head>
<body class="box">
	<div class="heater">
		<h1 class="lf">自助服务系统</h1>
		<div class="lr">
			<a href="javascript:window.history.back();" class="return">返回</a>
			<a href="{:url('index/index')}" class="home">首页</a>
		</div>
	</div>
	<div class="cont cont_box">
		<div class="Navigation">
			<span class="label">当前位置：</span>
			<a href="">我要办事</a><span> > </span>
			<a href="">选择事项</a><span> > </span>
			<a href="">事项详情</a><span> > </span>
			<a href="">身份验证</a>
		</div>
		<div class="cont_container phone">
			<div class="list-nav">
				<img src="__PUBLIC__integration/img/nav2.png">
			</div>
			<div class="phone_cont">
				<h2>您好，请填写您的完整信息</h2>
				<form class="clearfix">
					<div class="post-row">
						<label for="name">姓名</label>
						<input type="text" name="" disabled="disabled" id="name" value="{$name.name}">
					</div>
					<div class="post-row left check">
						<input type="checkbox" name="" id="q" value="1">
						<label for="q">
							如果您同时是公司、其他机构组织的具体联系人，请慎填如下资料							
						</label>
						
					</div>
					<div class="post-row">
						<label for="xb">性别</label>
						<input type="text" name="" disabled="disabled" id="xb" value="{$name.sex}">
					</div>
					<div class="post-row left">
						<label for="jg">机构名称</label>
						<input type="text" name="bi" id="jg">
					</div>
					<div class="post-row">
						<label for="card">身份证号</label>
						<input type="text" name="" disabled="disabled" id="card" value="{$name.card}" >
					</div>
					<div class="post-row left">
						<label for="fd">法定代表</label>
						<input type="text" name="bi" id="fd">
					</div>
					<div class="post-row">
						<label for="phone">联系电话</label>
						<input type="text" name="bi" id="phone" placeholder="请输入有效手机号(必填)">
					</div>
					<div class="post-row left">
						<label for="jgdz">机构地址</label>
						<input type="text" name="bi" id="jgdz">
					</div>
					<div class="post-row">
						<label for="dz">联系地址</label>
						<input type="text" name="bi" id="dz" placeholder="请输入联系地址(必填)">
					</div>
					<div class="post-row left">
						<label for="dm">机构代码</label>
						<input type="text" name="bi" id="dm">
					</div>
					<div class="post-row">
						<label for="email">电子邮箱</label>
						<input type="text" name="bi" id="email" placeholder="请输入电子邮箱">
					</div>
					<div style="clear: both;"></div>
					<div class="post-btn">
						<a href="" class="succ"></a>
						<a href="" class="erro"></a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 手机号验证 -->
	<div class="form-aletr phone-code" style="display: none;">
		<div class="form-aletr_cont">
			<div class="tit">
				<h2>请验证手机号码</h2>
				<a href="javascript:;" class="off"></a>
			</div>
			<div class="con">
				<div class="cont-box_cont">
					<p class="tit_phone">
						系统将在<span id="s">60秒</span>内向手机号<span id="phone-num">18000000000</span>的手机发送一条短信，请在下方输入短信中的验证码
					</p>
					<form>
						<input type="text" id="code" name="" placeholder="请输入验证码">
						<p class="code-error" style="display: none; position: absolute;bottom:94px;z-index: 1;left: 0;right: 0;color: red">验证码过期或错误</p>
					</form>
				</div>
				<a href="" class="ok">完成验证</a><em class="cxcode">重新获取</em>
			</div>
		</div>
	</div>
	<!-- 手机号验证结束 -->
	<script type="text/javascript">
		var Name = $("#name");
		var xb = $("#xb");
		var jg = $("#jg");
		var card = $("#card");
		var fd = $("#fd");
		var phone = $("#phone");
		var jgdz = $("#jgdz");
		var dz = $("#dz");
		var dm = $("#dm");
		var email = $("#email");
		var set;//定时器
		var index = 60;//倒计时60秒
		$(document).ready(function(){
			$(".succ").click(function(e){
				e.preventDefault();				
				var Type;//验证是否通过
				Type = personal();
				// 选中才验证企业
				if($("#q:checked").val() == 1){
					Type = enterprise();
				}
				// 提交获取验证码
				if(Type != false){
					$(".form-aletr").fadeIn(100);
					// 如果正在60秒倒计时不执行
					if(index == 60){
						code();
					}									
				}
				
			})
			$(".erro").click(function(e){
				e.preventDefault();
				$("input[name='bi']").val("");
			})
			// 提交验证码
			
			$(".ok").click(function(e){
				e.preventDefault();
				if($("#code").val() == ""){
					return false;
				}
				PostInfo();
			})
			// 从新获取验证码
			$(".cxcode").click(function(event) {
				event.stopPropagation();
				if(index == 60){
					$(this).hide();
					code();
				}
				
			});
			// 关闭验证码弹窗
			$(".off").click(function(){
				$(".form-aletr").fadeOut(100);
			})
		})
		// 验证个人
		function personal(){
			var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
			$(".error").removeClass('error');
			$(".post-row em").remove();
			// if(Name.val() == ""){
			// 	Name.addClass('error');
			// 	Name.parent().append("<em>您还没刷身份证</em>")
			// 	return false;
			// }
			if(phone.val() == "" || !myreg.test(phone.val())){
				phone.focus();
				phone.addClass('error');
				phone.parent().append("<em>手机号不符合规范</em>")
				return false;
			}
			if(dz.val() == ""){
				dz.focus();
				dz.addClass('error');
				dz.parent().append("<em>请输入联系地址</em>")
				return false;
			}
		}
		//验证企业
		function enterprise(){
			if(jg.val() == ""){
				jg.focus();
				jg.addClass('error');
				jg.parent().append("<em>请输入机构名称</em>")
				return false;
			}
			if(fd.val() == ""){
				fd.focus();
				fd.addClass('error');
				fd.parent().append("<em>请输入法定代表</em>")
				return false;
			}
			if(jgdz.val() == ""){
				jgdz.focus();
				jgdz.addClass('error');
				jgdz.parent().append("<em>请输入机构地址</em>")
				return false;
			}
			if(dm.val() == ""){
				dm.focus();
				dm.addClass('error');
				dm.parent().append("<em>请输入机构代码</em>")
				return false;
			}
		}
		// 获取验证码		
		function code(){
			$("#phone-num").text(phone.val());			
			$.ajax({
				url: '{:url("work/msgnumin")}',
				type: 'GET',
				data: {phone: phone.val()},
				success:function(data){
					// 验证码发送成功
					if(data == 1){
						set = setInterval(function(){
							index --;
							index = index<10? ('0'+index) : index;
							if(index == '00'){
								clearInterval(set);
								index = 60;
								$(".cxcode").show();
							}
							$("#s").text(index+"秒");
						},1000)
					}
				}
			})								
		}
		// 提交信息
		function PostInfo(){
			if($("#code").val() == "") return false;//验证码不能为空
			var legal = ($("#q:checked").val() == 1)?'2':"1";//个人1 公司2
			$.ajax({
				url: '{:url("work/codecheck")}',
				type: 'POST',
				// dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
				data: {id: '{$name.userid}',phone:phone.val(),address:dz.val(),email:email.val(),company:jg.val(),behalf:fd.val(),company_address:jgdz.val(),company_code:dm.val(),legal:legal,code:$("#code").val()},
				success:function(data){
					if(data){
						window.location.href="{:url('work/face')}?userid={$name.userid}&matterid={$matterid}";
					}else {
						$(".code-error").fadeIn(200);
						setTimeout(function(){
							$(".code-error").fadeOut(200);
						},2000)
					}
				},
				error:function(){
					alert("服务器错误");
				}
			})
			
			
		}
	</script>
	<!-- 语音 -->
    <embed src="__PUBLIC__integration/mp3/5.mp3" hidden="true" autostart="true" style="display: none;">
	<!-- 语音 -->
</body>
</html>