<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__integration/css/sytle.css">
	<script type="text/javascript" src="__PUBLIC__integration/js/jquery-1.10.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__integration/js/slid.js"></script>
</head>
<body class="box">
	<div class="heater">
		<h1 class="lf">自助服务系统</h1>
		<div class="lr">
			<a href="javascript:window.history.back();" class="return">返回</a>
			<a href="{:url('index/index')}" class="home">首页</a>
		</div>
	</div>
	<div class="cont cont_box">
		<div class="Navigation">
			<span class="label">当前位置：</span>
			<a href="">我要办事</a><span> > </span>
			<a href="">选择事项</a><span> > </span>
			<a href="">事项详情</a><span> > </span>
			<a href="">身份验证</a><span> > </span>
			<a href="">上传资料</a><span> > </span>
			<a href="">取件方式</a><span> > </span>
			<a href="">打印凭条</a>
		</div>
		<div class="cont_container print">
			<div style="padding-top: 120px;">
				<img src="__PUBLIC__integration/img/wait1.gif" style="position: relative;left: -50px;">
			</div>
			<div style="padding-top: 60px;">
				<img src="__PUBLIC__integration/img/wait.gif">
			</div>
		</div>
	</div>
</body>
</html>