<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>评价</title>
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
		<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
	</head>


<body>
	<div class="admin-main">
		<blockquote class="layui-elem-quote">
			<div class="layui-inline">
			<form class="layui-form" action="{:url('Evaluate/count1')}" method="post">
				<div class="layui-inline">
			      <label class="layui-form-label">开始时间</label>
			      <div class="layui-input-inline">
			        <input type="text" name="start" id="date" lay-verify="date"  autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})" {if condition="empty($start) neq true"} value="{$start}"{/if}>
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label">结束时间</label>
			      <div class="layui-input-inline">
			        <input type="text" name="end" id="date" lay-verify="date"  autocomplete="off" class="layui-input" onclick="layui.laydate({elem: this})" {if condition="empty($end) neq true"} value="{$end}"{/if}>
			      </div>
			    </div>
			    <div class="layui-inline">
			    	<label class="layui-form-label">员工</label>
			    	<div class="layui-input-inline">
			        	<input type="text" name="name" lay-verify="title" autocomplete="off" class="layui-input" {if condition="empty($name) neq true"} value="{$name}"{/if}>
			      	</div>
			    </div>
			    <div class="layui-inline">			    		
			    	<label class="layui-form-label">设备编号</label>
      				<div class="layui-input-inline">
				    	<select name="deviceid" lay-verify="required" lay-search="">
		         			 <option value="">全部</option>
		         			 {volist name="dec" id="v"}
		         			 <option value="{$v.id}" {if condition="$deviceid eq $v['id']"} selected="true" {/if}>{$v.number}</option>
		         			 {/volist}
		         			 <option value="">全部</option>
	         			</select>
         			</div>	         		
			    </div>

			    <div class="layui-inline">
			    	<button class="layui-btn">搜索</button>
			    </div>
			</form>
			</div>
		</blockquote>
		<fieldset class="layui-elem-field">
			<legend>评价列表</legend>
			<div class="layui-field-box">
				<table class="site-table table-hover">
					<thead>
						<tr>
							<th>序号</th>
							<th>员工</th>
							<th>态度不好</th>
							<th>业务不熟</th>
							<th>时间太长</th>
							<th>有待改进</th>
							<th>基本满意</th>
							<th>非常满意</th>
							<th>满意率</th>
							<th>小计</th>
						</tr>
					</thead>
					<tbody>
						{volist name="list" key="k" id="v"}
						<tr>
							<td>{$k}</td>
							<td>{$v.name}</td>
							<td>{$v.evaluatelevel1}</td>
							<td>{$v.evaluatelevel2}</td>
							<td>{$v.evaluatelevel3}</td>
							<td>{$v.evaluatelevel4}</td>
							<td>{$v.evaluatelevel5}</td>
							<td>{$v.evaluatelevel6}</td>
							<td>{$v.many}%</td>
							<td>{$v.sum}</td>
							
						</tr>
						{/volist}
					</tbody>	
				</table>
		</fieldset>
		{$page}
	</div>
	<script>
		layui.use(['form', 'layedit', 'laydate'], function() {
			var form = layui.form(),
				layer = layui.layer,
				layedit = layui.layedit,
				laydate = layui.laydate;
		});
	</script>
	</body>
</html>