<!DOCTYPE html>
<html  class="index-cont">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable2/css/style_btn.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__autotable2/css/style.css">	
	<title></title>
	<script type="text/javascript" src="__PUBLIC__autotable2/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="content_iframe">
		<div class="Speed_title">
			<div class="t">
				<p>可输入办理事项查询表单</p>
			</div>
		</div>
		<div class="title_cont search-main">
			<h1 style="font-size: 26px;color: #2b99f2;text-align: center;padding-top: 160px">暂无数据</h1>
			<div class="pager page">
				<a href="{:url('index/index')}" class="home"></a>
			</div>
		</div>
	</div>
</body>
</html>