<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>事项列表</title>
		<link rel="stylesheet" href="__PUBLIC__static/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__static/css/table.css" />
		<link rel="stylesheet" href="__PUBLIC__static/css/page.css" />
		<link rel="stylesheet" href="__PUBLIC__static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__static/plugins/font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="__PUBLIC__static/plugins/layui/layui.js"></script>
		<script type="text/javascript" src="__PUBLIC__static/js/jquery-1.7.2.min.js"></script>
		<!-- <script type="text/javascript" src="__PUBLIC__static/js/jquery-3.1.1.min.js"></script> -->
	</head>
<style>
	input{width: 100%;border:none;}
	.center{text-align:center;margin-top:15px;}
</style>

<body>
	<div class="admin-main">
		<fieldset class="layui-elem-field">
			<legend>办理材料添加</legend>
			<div class="layui-field-box">
				<form action="{:url('matter/datum')}" class="layui-form" method="post" enctype="multipart/form-data">
				<input type="hidden" name="matterid" value="{$id}">
				<div class="layui-form-item">
					<label class="layui-form-label">材料内容</label>
					<div class="layui-input-block">
						<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="材料内容" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">示例表格</label>
					<div class="layui-input-block">
						<button type="button" class="upfile layui-btn layui-btn-mini">上传示例表格</button>
						<input type="hidden" name="files" value="">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">空白表格</label>
					<div class="layui-input-block">
						<button type="button" class="upfile layui-btn layui-btn-mini">上传空白表格</button>
						<input type="hidden" name="nullurl" value="">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">材料形式</label>
					<div class="layui-input-block">
						<input type="checkbox" name="shape[]" value="1" title="纸质">
						<input type="checkbox" name="shape[]" value="2" title="电子">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">材料ID</label>
					<div class="layui-input-block">
						<input type="text" name="DatumID" lay-verify="title" autocomplete="off" placeholder="材料ID" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">序号</label>
					<div class="layui-input-block">
						<input type="text" name="sort" lay-verify="title" autocomplete="off" placeholder="序号" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<textarea name="summary" cols="100" rows="10"></textarea>
						
					</div>
				</div>
				<div class="layui-form-item center">
					<button class="layui-btn" lay-submit="" lay-filter="demo1" id="but">立即提交</button>
				</div>
			</form>
			<input type="file" id="upload" name="file" value="这是文件" style="display: none;">
		</fieldset>
		
	</div>
</html>

<script type="text/javascript">
	layui.use(['form', 'layedit', 'laydate'], function() {
		var form = layui.form(),
			layer = layui.layer,
			layedit = layui.layedit,
			laydate = layui.laydate;
	});		
	$(function(){
		/***文件上传***/
		$(".upfile").live('click', function(event){
			var that = $(this);
			var e = event;
			event.stopPropagation();
			$("#upload").off().click();

			$("#upload").change(function(events) {
				events.stopPropagation();
				var formData = new FormData();
				formData.append("file",$("#upload")[0].files[0]);
				$.ajax({
					url: "{:url('matter/upfile')}",
					processData : false, 
					contentType : false,
					type: 'POST',
					data: formData,
					beforeSend:function(){
						that.text("正在上传...");
					},
					success : function(responseStr) { 				
						that.text("上传成功");
						that.next().val(responseStr);
						console.log(responseStr)
					}, 
					error : function(responseStr) { 
						that.text("上传失败");
						that.next().val("");
						that.bind(e);
					} 
				})
			});
		})			
	})
</script>